.part0 {
    position: absolute;
    top: 0;
    height: 12%;
    left: 0;
    right: 0;
    display: flex;
}

.part0 > div {
    height: 100%;
    position: relative;
    align-items: center;
    display: flex;
    border-left: 0.1em solid black;
    border-right: 0.1em solid black;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

.part0 > div > div {
    position: relative;
    height: 100%;
    width: 100%;
}

.part2 {
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
}

@media (orientation: landscape) {
    .part0 > div {
        width: 33%;
    }

    .part1 {
        position: absolute;
        top: 12%;
        bottom: 0;
        left: 0;
        right: 50%;
    }

    .part2 {
        top: 12%;
        bottom: 0;
        left: 50%;
        right: 0;
    }

    .part1 > table td {
        font-size: 3vw;
    }

    .hot_water_timer {
        font-size: 3vw;
    }

    .heating_timer {
        font-size: 3vw;
    }

    .clock {
        font-size: 2vw;
    }

    .hot_water_timer_popup {
        left: -50%;
        width: 200%;
    }

    .hot_water_timer_popup span {
        font-size: 1.5vw;
    }

    .heating_timer_popup {
        left: -50%;
        width: 200%;
    }

    .heating_timer_popup span {
        font-size: 1.5vw;
    }
}

@media (orientation: portrait) {
    .part0 > div {
        width: 50%;
    }

    .part1 {
        position: absolute;
        top: 12%;
        bottom: 56%;
        left: 0;
        right: 0;
    }

    .part2 {
        top: 56%;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .part1 > table td {
        font-size: 6vw;
    }

    .hot_water_timer {
        font-size: 6vw;
    }

    .heating_timer {
        font-size: 6vw;
    }

    .part0 > div.clock {
        display: none;
    }

    .hot_water_timer_popup {
        left: -300%;
        width: 350%;
    }

    .hot_water_timer_popup span {
        font-size: 3vw;
    }

    .heating_timer_popup {
        left: -300%;
        width: 350%;
    }

    .heating_timer_popup span {
        font-size: 3vw;
    }
}

.part1 > table {
    width: 100%;
    height: 100%;
}

.part2 > table {
    width: 100%;
}

table.temperatures {
    border: 0.2em;
}

table.temperatures tr {
    outline: thin solid;
}

table.temperatures img {
    height: 1em;
    vertical-align: bottom;
}

.livetemp {
    justify-content: right;
    left: 0;
    right: 65%;
}

.thermostat_going {
    justify-content: center;
    left: 35%;
    right: 50%;
}

.colder {
    justify-content: center;
    left: 50%;
    right: 35%;
}

.setpoint {
    justify-content: center;
    left: 65%;
    right: 15%;
}

.warmer {
    justify-content: center;
    left: 85%;
    right: 0;
}

.l_on {
    display: none;
}

.l_off {
    display: none;
}

.l_some {
    display: none;
}

.l_unknown {
    display: none;
}

.light_unknown .l_unknown {
    display: inline;
}

.light_on .l_on {
    display: inline;
}

.light_off .l_off {
    display: inline;
}

.light_some .l_some {
    display: inline;
}

.kitchen_popup {
    display: none;
    position: fixed;
    top: 20%;
    left: 20%;
    right: 20%;
    bottom: 20%;
    width: 60%;
    height: 60%;
    border: 0.2em solid;
    overflow: hidden;
    z-index: 10;
    background-color: white;
}

.thermostat {
    width: 10em;
}

.thermostat > div {
    position: relative;
    width: 100%;
    height: 100%;
}

.thermostat > div > div {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}

img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

.fit {
    position: absolute;
    top: 5%;
    bottom: 5%;
}

.fit_1_3 {
    left: 5%;
    right: 65%;
}

.fit_2_3 {
    left: 35%;
    right: 35%;
}

.fit_3_3 {
    left: 65%;
    right: 5%;
}

.fit > span {
    position: absolute;
    top: 0;
    height: 2em;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    font-size: 2em;
}

.fit > div {
    position: absolute;
    top: 2em;
    bottom: 0;
    left: 0;
    right: 0;
}

.fit > div > span {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}

.closer {
    position: absolute;
    top: 0;
    right: 0;
    max-height: 5%;
    max-width: 5%;
}

.hot_water_timer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.heating_timer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock {
    justify-content: right;
}

.hot_water_timer_popup {
    display: none;
    position: relative;
    top: 20%;
    aspect-ratio: 0.8;
    border: 0.2em solid;
    overflow: hidden;
    z-index: 10;
    background-color: white;
    padding: 0.3em;
}

.hot_water_timer_popup span {
    display: flex;
    justify-content: center;
}

.hot_water_timer_popup .closer {
    max-height: 20%;
    max-width: 20%;
}

.heating_timer_popup {
    display: none;
    position: relative;
    top: 20%;
    aspect-ratio: 0.8;
    border: 0.2em solid;
    overflow: hidden;
    z-index: 10;
    background-color: white;
    padding: 0.3em;
}

.heating_timer_popup span {
    display: flex;
    justify-content: center;
}

.heating_timer_popup .closer {
    max-height: 20%;
    max-width: 20%;
}

.manual_setpoint {
    text-decoration: underline;
}
